.icon{
    border: solid black 1px;
    border-radius: 20px;
    height:110px;
    max-width: 110px;
    margin: 20px auto;
}
#search-bar{
    border-radius: 20%;
    width: 90%;
    margin: 30px 0 ;
}
.center{
    text-align: center;
}
.seperator{
    border: 0.5px solid black;
    width:100%;
    margin:10px;
}
